@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 29 100% 95%;
    --foreground: 29 5% 10%;
    --card: 29 50% 90%;
    --card-foreground: 29 5% 15%;
    --popover: 29 100% 95%;
    --popover-foreground: 29 100% 10%;
    --primary: 29 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 29 30% 78%;
    --secondary-foreground: 0 0% 0%;
    --muted: -9 30% 85%;
    --muted-foreground: 29 5% 40%;
    --accent: -9 30% 80%;
    --accent-foreground: 29 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 29 5% 90%;
    --border: 29 30% 78%;
    --input: 29 30% 50%;
    --ring: 29 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 29 50% 10%;
    --foreground: 29 5% 90%;
    --card: 29 50% 10%;
    --card-foreground: 29 5% 90%;
    --popover: 29 50% 5%;
    --popover-foreground: 29 5% 90%;
    --primary: 29 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 29 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -9 30% 25%;
    --muted-foreground: 29 5% 65%;
    --accent: -9 30% 25%;
    --accent-foreground: 29 5% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 29 5% 90%;
    --border: 29 30% 50%;
    --input: 29 30% 50%;
    --ring: 29 100% 50%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
